<!DOCTYPE html>
<html lang="ja" ng-app="App">
<head>
  <meta charset="UTF-8">
  <title app-title></title>
  <link rel="stylesheet" href="/styles/common.css">
</head>
<body>
  <ui-view></ui-view>

  <script src="/scripts/vendor/lodash.min.js"></script>
  <script src="/scripts/vendor/jquery.min.js"></script>
  <script src="/scripts/vendor/angular.min.js"></script>
  <script src="/scripts/vendor/angular-ui-router.min.js"></script>
  <script src="/scripts/vendor/angular-animate.min.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/directives/common.js"></script>
  <script src="/scripts/controllers/index.js"></script>
</body>
</html>
