* {
  margin: 0;
  padding: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
  vertical-align: baseline;
}
body {
  text-size-adjust: 100% !important;
}
img {
  vertical-align: top;
}
main {
  display: block;
}
ul, ol {
  list-style: none;
}
